<div class="bubble-frame">
  <div class="bubble {% if {{name}} == 'me' %}bubble-out{% else %}bubble-in{% endif %}">
    {% if page.members %}
      {% assign participants = site.posts | where: 'slug', name %}
      {% for participant in participants %}
        <h1>{{ participant.name }}</h1>
      {% endfor %}
    {% endif %}
    {% assign message_img_check = message | slice: 0, 3 %}
    {% if message_img_check == "img" %}
          <img src="{{site.baseurl}}/media/images/{{ message | remove_first: "img "}}" alt="{{ message | remove_first: "img "}}">
      <h3>{{time}}</h3>
    {% else %}
    <p>{{message}}</p>
    <h3>{{time}}</h3>
    {% endif %}
  </div>
</div>