<section class="list" >
  {% for post in site.posts %}
    <div class="chat" id="{{post.link}}">
      <div class="chat-icon">
        <img src="../assets/img/face/{{post.face}}" alt="{{post.face}}">
      </div>
      <div class="content">
        <div class="first-line">
          <h1>{{post.name}}</h1>
          <h2>
            <span class="date-{{post.link}}" id="date-{{post.link}}">{% assign historys = post.historys | sort: 'some_field' | reverse %}{% for history in historys limit:1 %}{{history.date}}{% endfor %}
            </span>
            <span style="display: none" class="list-today-{{post.link}}">
              {% assign historys = post.historys | sort: 'some_field' | reverse %}
              {% for history in historys limit:1 %}
                  {% assign messages = history.messages | sort: 'some_field' | reverse %}
                  {% for message in messages limit:1%}
                    {% assign contents = message.contents | sort: 'some_field' | reverse %}
                    {% for content in contents limit:1%}
                      {{content.time}}
                    {% endfor %}
                  {% endfor %}
              {% endfor %}
            </span>
          </h2>
        </div>
        <p>
          {% assign historys = post.historys | sort: 'some_field' | reverse %}
          {% for history in historys limit:1 %}
              {% assign messages = history.messages | sort: 'some_field' | reverse %}
              {% for message in messages limit:1%}
                {% assign contents = message.contents | sort: 'some_field' | reverse %}
                {% for content in contents limit:1%}
                  {{content.text | truncate:40,'...'}}
                {% endfor %}
              {% endfor %}
          {% endfor %}
        </p>
      </div>
    </div>
  {% endfor %}
</section>