<section class="person">
  <header class="header-chat">
    <div class="header-close">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="x" x="3507" y="3602"><path opacity=".5" d="M19.058 17.236l-5.293-5.293 5.293-5.293-1.764-1.764L12 10.178 6.707 4.885 4.942 6.65l5.293 5.292-5.293 5.293L6.707 19 12 13.707 17.293 19l1.765-1.764z"/></svg>
      </span>
    </div>
    <div class="header-info">
      <h1>Kontaktinfo</h1>
    </div>
  </header>
  <div class="drawer-body">
    <div class="drawer-section">
      <div class="drawer-avatar avatar-background">
        {% if contact.profil_pic %}
        <img src="../media/profil_pic/{{contact.profil_pic}}" alt="{{contact.profil_pic}}">
        {% endif %}
      </div>
    </div>
    <div class="drawer-section drawer-content">
      <div class="drawer-section-title">
        <p>Status</p>
      </div>
      <div class="drawer-section-body">
        <p>{{contact.status | newline_to_br}}</p>
      </div>
    </div>
    {% if contact.groupchat == true %}
      <div class="drawer-section drawer-content">
        <div class="drawer-section-title">
          <p>Members</p>
        </div>
        <div class="drawer-section-body">
          {% for member in page.members %}
            {% assign chat_member = site.data.contacts[member] %}
            <div class="chat">
              <div class="chat-icon">
                {% if chat_member.profil_pic %}
                <img src="../media/profil_pic/{{chat_member.profil_pic}}" alt="{{chat_member.profil_pic}}">
                {% endif %}
              </div>
              <div class="content">
                <div class="first-line">
                  <h1>{{chat_member.name}}</h1>
                </div>
                  <p>{{chat_member.status}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="drawer-section drawer-content">
      <div class="drawer-section-title">
        <p>Social Media</p>
      </div>
      <div class="drawer-section-body drawer-social">
        {% if contact.facebook %}
        <a href="{{contact.facebook}}"><span class="fa fa-facebook-official"></span></a>
        {% endif %}
        {% if contact.twitter %}
        <a href="{{contact.twitter}}"><span class="fa fa-twitter"></span></a>
        {% endif %}
        {% if contact.instagram %}
        <a href="{{contact.instagram}}"><span class="fa fa-instagram"></span></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>